extends layout

block content

  - var categories = ['HTML5', 'CSS3', 'javaScript']

  section.article-form
    h2 Article Edit 
    form(action='/articles/edit/' +article._id , method='post', enctype='multipart/form-data')
      fieldset
        label(for='title')
          h3 Title
          input(type='text', name='title', value=article.title)
      fieldset
        label(for='descr')
          h3 Main Description
          textarea(type='text', name='descr')= article.descr
      fieldset
        label(for='categories')
          h3 Categories
          select(name='categories' multiple)
            each category in categories
              option(value=category) #{category}
      fieldset
        input(type='submit', value='put')