nav.main-menu



  a(href='/').logo 
    i.fa.fa-gamepad  NooB


  ul


    li
      a(href='/') Main Page
    li
      a(href='/articles') Articles
    li
      a(href='/articles/new') New article
    li
      a(href='/users/login') Login
    li
      a(href='/users/register') Register
    li
      a(href='/users/logout') Logout
  //- if user
  //-   li
  //-     a= user.username
